import du fichier et extraction des infos

In [1]:
import pandas as pd


df_title_principals = pd.read_csv('../BD_A_IGNORE/title.principals.tsv.gz', compression = 'gzip', sep='\t', on_bad_lines='skip')

print("My DataFrame shape is : ", df_title_principals.shape, end = '\n\n\n\n')
print('Which columns have missing values ? (Non-null column)')
print(df_title_principals.info())

My DataFrame shape is :  (89216353, 6)



Which columns have missing values ? (Non-null column)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89216353 entries, 0 to 89216352
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 4.0+ GB
None

Echantillonnage du dataframe

In [2]:
df_title_principals.sample(20)

,tconst,ordering,nconst,category,job,characters
78222505,tt7199550,10,nm0657251,actor,\N,"[""Rogelio Santalucía""]"
74244678,tt6095598,15,nm2699782,cinematographer,director of photography,\N
87154110,tt9435336,5,nm1439043,actress,\N,"[""Jo Young-Sun""]"
1745388,tt0122006,11,nm0414732,director,\N,\N
45834136,tt21913672,7,nm8618769,cinematographer,\N,\N
8626815,tt0749900,2,nm0001088,self,\N,"[""Self""]"
57146931,tt29438427,1,nm7544069,self,\N,"[""Self - Presenter""]"
9868791,tt0863028,9,nm0768686,actress,\N,"[""Actress""]"
22782912,tt12494208,5,nm0663914,composer,\N,\N
66995718,tt3949528,6,nm6695112,actor,\N,"[""Tajil Kumar""]"
16621600,tt11083370,2,nm2194982,self,\N,"[""Self""]"
27473560,tt13809374,12,nm0744982,writer,\N,\N
82735349,tt8341198,2,nm0092626,actress,\N,"[""Leonor (1988)""]"
43904559,tt21049692,10,nm0823169,producer,producer,\N
82136887,tt8193446,17,nm0678316,cinematographer,\N,\N
78509703,tt7269958,7,nm0685421,actress,\N,"[""Karen""]"
85567539,tt9047588,8,nm9582759,writer,\N,\N
44790041,tt2133852,9,nm0259803,self,\N,"[""Self""]"
45748173,tt21870384,3,nm13969748,actor,\N,\N
57419452,tt2956024,21,nm0023773,cinematographer,\N,\N

identification des cellules vide

In [8]:
tconst_isna_sum = df_title_principals['tconst'].isna().sum()
ordering_isna_sum = df_title_principals['ordering'].isna().sum()
nconst_isna_sum = df_title_principals['nconst'].isna().sum()
category_isna_sum = df_title_principals['category'].isna().sum()
job_isna_sum = df_title_principals['job'].isna().sum()
characters_isna_sum = df_title_principals['characters'].isna().sum()

print(f'tconst_isna_sum : {tconst_isna_sum}')
print(f'ordering_isna_sum : {ordering_isna_sum}')
print(f'nconst_isna_sum : {nconst_isna_sum}')
print(f'category_isna_sum : {category_isna_sum}')
print(f'job_isna_sum : {job_isna_sum}')
print(f'characters_isna_sum : {characters_isna_sum}')

tconst_isna_sum : 0
ordering_isna_sum : 0
nconst_isna_sum : 0
category_isna_sum : 0
job_isna_sum : 0
characters_isna_sum : 0

identification des null

In [9]:
tconst_isnull_sum = df_title_principals['tconst'].isnull().sum()
ordering_isnull_sum = df_title_principals['ordering'].isnull().sum()
nconst_isnull_sum = df_title_principals['nconst'].isnull().sum()
category_isnull_sum = df_title_principals['category'].isnull().sum()
job_isnull_sum = df_title_principals['job'].isnull().sum()
characters_isnull_sum = df_title_principals['characters'].isnull().sum()

print(f'tconst_isnull_sum : {tconst_isnull_sum}')
print(f'ordering_isnull_sum : {ordering_isnull_sum}')
print(f'nconst_isnull_sum : {nconst_isnull_sum}')
print(f'category_isnull_sum : {category_isnull_sum}')
print(f'job_isnull_sum : {job_isnull_sum}')
print(f'characters_isnull_sum : {characters_isnull_sum}')

tconst_isnull_sum : 0
ordering_isnull_sum : 0
nconst_isnull_sum : 0
category_isnull_sum : 0
job_isnull_sum : 0
characters_isnull_sum : 0

identification des \N

In [14]:
import numpy as np

df_title_principals['job'] = df_title_principals['job'].replace(r'\N', np.nan)
df_title_principals['characters'] = df_title_principals['characters'].replace(r'\N', np.nan)


job_nan = df_title_principals['job'].isna().sum()
characters_nan = df_title_principals['characters'].isna().sum()


print(f'job_na : {job_nan}')
print(f'characters_na : {characters_nan}')

job_na : 72515501
characters_na : 45987058

 comptage des valeurs uniques par colonnes

In [10]:
pd.set_option('display.max_rows', None)
tonst_countvalues = df_title_principals['tconst'].nunique()
ordering_countvalues = df_title_principals['ordering'].nunique()
nonst_countvalues = df_title_principals['nconst'].nunique()
category_countvalues = df_title_principals['category'].nunique()
job_countvalues = df_title_principals['job'].nunique()
characters_countvalues = df_title_principals['characters'].nunique()

print(f'tonst_countvalues : {tonst_countvalues}')
print(f'ordering_countvalues : {ordering_countvalues}')
print(f'nonst_countvalues : {nonst_countvalues}')
print(f'category_countvalues : {category_countvalues}')
print(f'job_countvalues : {job_countvalues}')
print(f'characters_countvalues : {characters_countvalues}')

tonst_countvalues : 10194789
ordering_countvalues : 75
nonst_countvalues : 6486943
category_countvalues : 13
job_countvalues : 43625
characters_countvalues : 4174224

identification des valeurs de ordering et category

In [11]:

ordering_unique = df_title_principals['ordering'].unique()

category_unique = df_title_principals['category'].unique()



print(f'ordering_unique : {ordering_unique}')

print(f'category_unique : {category_unique}')

ordering_unique : [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
 73 74 75]
category_unique : ['self' 'director' 'producer' 'cinematographer' 'composer' 'editor'
 'actor' 'actress' 'writer' 'production_designer' 'archive_footage'
 'casting_director' 'archive_sound']