In [2]:
import pandas as pd


df_title_episode = pd.read_csv('../BD_A_IGNORE/title.episode.tsv.gz', compression = 'gzip', sep='\t', on_bad_lines='skip', na_values=['\\N'])

df_title_episode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8656492 entries, 0 to 8656491
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   float64
 3   episodeNumber  float64
dtypes: float64(2), object(2)
memory usage: 264.2+ MB

In [3]:
df_title_episode.sample(10)

             tconst parentTconst  seasonNumber  episodeNumber
6929081   tt5053846    tt0088580           1.0         7961.0
589443   tt10329958    tt0242750           5.0           74.0
7936073   tt8020810    tt8019008           1.0            5.0
2028065  tt13531274    tt0096537           2.0          179.0
6037072   tt3267878    tt2346169           4.0            4.0
4737759   tt2642330    tt0859592           7.0           11.0
7137607   tt5702066    tt3108512           9.0            6.0
8001536   tt8194914    tt0221738           1.0          221.0
1858278  tt13139280    tt0108821           3.0           44.0
3546640  tt18238130    tt0236924           1.0         3212.0