In [ ]:
import pandas as pd # type: ignore
import numpy as np # type: ignore

In [ ]:
df_ratings = pd.read_csv('title.ratings.tsv.gz', sep='\t', compression='gzip')
print(df_ratings.head(5))
print(df_ratings.describe())
print(df_ratings.shape)
print(df_ratings.info())

In [12]:
df_name_basics = pd.read_csv('name.basics.tsv.gz', sep='\t', compression='gzip')
print(df_name_basics.sample(5))
print(df_name_basics.describe())
print(df_name_basics.shape)
print(df_name_basics.info())

              nconst     primaryName birthYear deathYear  \
12850038   nm8675712   Malik Kraichi        \N        \N
9866486    nm4903340       Shea Fell        \N        \N
13902792   nm9965672     Dave Keelan        \N        \N
4852414   nm14205066    Allison Byer        \N        \N
2726482   nm11907762  Archie Cameron        \N        \N

                                primaryProfession         knownForTitles
12850038  actor,art_department,make_up_department              tt2890638
9866486                             miscellaneous              tt1090184
13902792                                       \N              tt0479832
4852414                          costume_designer             tt23320422
2726482           art_department,sound_department  tt13113038,tt20222120
           nconst primaryName birthYear deathYear primaryProfession  \
count    13926619    13926611  13926619  13926619          13926619
unique   13926619    10696832       544       487             23075
top     nm0000001        Alex        \N        \N                \N
freq            1         527  13296666  13690535           2699479

       knownForTitles
count        13926619
unique        5802737
top                \N
freq          1570655
(13926619, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13926619 entries, 0 to 13926618
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 637.5+ MB
None

In [13]:
df_title_crew = pd.read_csv('title.crew.tsv.gz', sep='\t', compression='gzip')
print(df_title_crew.sample(5))
print(df_title_crew.describe())
print(df_title_crew.shape)
print(df_title_crew.info())

             tconst   directors               writers
1271620  tt10559002  nm10801281  nm10801281,nm2022104
5227012   tt2156884   nm0773780                    \N
9384571   tt7228418          \N                    \N
1499892  tt10981872   nm1201671                    \N
9453860   tt7388596   nm9282132             nm9282132
           tconst directors   writers
count    10553136  10553136  10553136
unique   10553136    927054   1378633
top     tt0000001        \N        \N
freq            1   4027431   4684354
(10553136, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10553136 entries, 0 to 10553135
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 241.5+ MB
None

In [15]:
df_title_episodes = pd.read_csv('title.episode.tsv.gz', sep='\t', compression='gzip')
print(df_title_episodes.sample(5))
print(df_title_episodes.describe())
print(df_title_episodes.shape)
print(df_title_episodes.info())

             tconst parentTconst seasonNumber episodeNumber
431183    tt0989230    tt0260622            1            25
6272685  tt33554836   tt33522185            1          1405
3158116  tt16123484    tt0120974           14            74
6252799  tt33484104    tt1466867           27             1
3530544   tt1811230    tt1389707            1            65
           tconst parentTconst seasonNumber episodeNumber
count     8616411      8616411      8616411       8616411
unique    8616411       211832          312         15785
top     tt0031458   tt12164062            1            \N
freq            1        18593      4403696       1736909
(8616411, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8616411 entries, 0 to 8616410
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   object
 3   episodeNumber  object
dtypes: object(4)
memory usage: 263.0+ MB
None

In [6]:
df_title_principals = pd.read_csv('title.principals.tsv.gz', sep='\t', compression='gzip', nrows=100)
df_title_principals.sample(5)

       tconst  ordering     nconst  category       job              characters
19  tt0000007         4  nm0374658  director        \N                      \N
64  tt0000016         2  nm9735581      self        \N  ["Self (on the pier)"]
77  tt0000019         1  nm0932055  director        \N                      \N
43  tt0000012         3  nm0525900      self        \N                ["Self"]
20  tt0000007         5  nm0005690  producer  producer                      \N

In [ ]:
df_title_akas = pd.read_csv('title.akas.tsv.gz', sep='\t', compression='gzip')
df_title_akas = df_title_akas[df_title_akas['title'].str.contains('Episo')]
df_title_akas['title']

In [22]:
df_tmdb_full = pd.read_csv('tmdb_full.csv', sep=',', on_bad_lines='skip')
df_tmdb_full.sample(5)
# Désactiver la troncature des lignes
pd.set_option('display.max_rows', None)
# Désactiver la troncature des colonnes
pd.set_option('display.max_columns', None)
# Désactiver la troncature de la largeur
pd.set_option('display.width', None)
# Par exemple, pour afficher jusqu'à 100 lignes
pd.set_option('display.max_rows', 100)
# Et 50 colonnes
pd.set_option('display.max_columns', 50)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_8044\95470440.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmdb_full = pd.read_csv('tmdb_full.csv', sep=',', on_bad_lines='skip')

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_companies_name,production_companies_country
58411,False,NaN,0,['Documentary'],NaN,703413,tt5321424,en,From Rags to Riches: The Making of Cinderella,The making of Cinderella (1950).,...,40,[],Released,NaN,From Rags to Riches: The Making of Cinderella,False,0.000,0,[],[]
31752,False,/gYx3o2OD8UNZV76rTJXRevKvkRZ.jpg,0,['Comedy'],http://www.takeatakefilms.com/portfolio-view/o...,900026,tt21844020,pt,#PartiuFama: Cancelado no Amor,"After his self-esteem is ""upgraded"" in a neuro...",...,110,['pt'],Released,NaN,#PartiuFama: Cancelado no Amor,False,2.000,1,"['Take a Take', 'Rubi Filmes']","['', '']"
176522,False,/5NdnZigrvVBMQ0T2G9TnRAXVnV5.jpg,0,"['Documentary', 'Music']",http://blacksabbath.com,40690,tt1826632,en,Black Sabbath - Paranoid - Classic Albums,"The story of how the classic album ""Paranoid"" ...",...,55,['en'],Released,NaN,Classic Albums: Black Sabbath - Paranoid,False,6.912,17,"['Isis Productions', 'BBC']",NaN
264168,False,/pZTHZjh01AvVmOFKn5wus53NYTB.jpg,0,['Documentary'],NaN,270025,tt1943863,en,Uncle Bob,Robert Oppel's documentary about the life and ...,...,78,['en'],Released,NaN,Uncle Bob,False,5.000,5,[],NaN
43143,False,/o7eztHp7rbmgxQ83QDf6e3HF5b8.jpg,0,"['TV Movie', 'Romance', 'Comedy']",https://www.hallmarkchannel.com/dont-forget-i-...,805764,tt13956548,en,Don't Forget I Love You,Taylor is a successful woman whose job is her ...,...,84,['en'],Released,NaN,Don't Forget I Love You,False,6.778,18,"['Johnson Production Group', 'Eros Productions...","['CA', '', 'CA']"