In [3]:
import pandas as pd

merge2 = pd.read_csv('../files_source/merge2.csv')
merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466501 entries, 0 to 466500
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      466501 non-null  int64
 1   tconst          466501 non-null  object
 2   titleType       466501 non-null  object
 3   primaryTitle    466501 non-null  object
 4   originalTitle   466501 non-null  object
 5   isAdult         466501 non-null  bool
 6   startYear       466501 non-null  object
 7   runtimeMinutes  466501 non-null  float64
 8   genres          466501 non-null  object
 9   averageRating   466501 non-null  float64
 10  numVotes        466501 non-null  int64
 11  directors       466501 non-null  object
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 39.6+ MB

In [4]:
name_basics_f = pd.read_csv('../files_source/name_basics_filtered.csv')
name_basics_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13981026 entries, 0 to 13981025
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0      int64
 1   nconst          object
 2   primaryName     object
 3   birthYear       float64
 4   knownForTitles  object
dtypes: float64(1), int64(1), object(3)
memory usage: 533.3+ MB

In [5]:
title_principals = pd.read_csv('../files_source/title.principals.tsv.gz', sep='\t', compression='gzip', na_values=(r'\N'))
title_principals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89437033 entries, 0 to 89437032
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 4.0+ GB

In [6]:
title_principals = title_principals.drop(['ordering','job','characters'], axis = 1)
title_principals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89437033 entries, 0 to 89437032
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   tconst    object
 1   nconst    object
 2   category  object
dtypes: object(3)
memory usage: 2.0+ GB

In [7]:
principals_names = pd.merge(title_principals, name_basics_f, how='outer', left_on='nconst', right_on='nconst')
principals_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96920983 entries, 0 to 96920982
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   nconst          object
 2   category        object
 3   Unnamed: 0      float64
 4   primaryName     object
 5   birthYear       float64
 6   knownForTitles  object
dtypes: float64(2), object(5)
memory usage: 5.1+ GB

In [8]:
principals_names.head()

,tconst,nconst,category,Unnamed: 0,primaryName,birthYear,knownForTitles
0,tt0023926,nm0000001,actor,0.0,Fred Astaire,1899.0,"tt0050419,tt0072308,tt0053137,tt0027125"
1,tt0024025,nm0000001,actor,0.0,Fred Astaire,1899.0,"tt0050419,tt0072308,tt0053137,tt0027125"
2,tt0025164,nm0000001,actor,0.0,Fred Astaire,1899.0,"tt0050419,tt0072308,tt0053137,tt0027125"
3,tt0026942,nm0000001,actor,0.0,Fred Astaire,1899.0,"tt0050419,tt0072308,tt0053137,tt0027125"
4,tt0027125,nm0000001,actor,0.0,Fred Astaire,1899.0,"tt0050419,tt0072308,tt0053137,tt0027125"

In [9]:
principals_names[principals_names['tconst'] == 'tt0050419']

,tconst,nconst,category,Unnamed: 0,primaryName,birthYear,knownForTitles
30,tt0050419,nm0000001,actor,0.0,Fred Astaire,1899.0,"tt0050419,tt0072308,tt0053137,tt0027125"
8899,tt0050419,nm0000030,actress,29.0,Audrey Hepburn,1929.0,"tt0054698,tt0046250,tt0056923,tt0058385"
822957,tt0050419,nm0002045,director,2043.0,Stanley Donen,1924.0,"tt0056923,tt0045152,tt0050419,tt0047472"
2956326,tt0050419,nm0041509,actor,39679.0,Michel Auclair,1922.0,"tt0038348,tt0069947,tt0050419,tt0042625"
4958697,tt0050419,nm0102758,editor,97900.0,Frank Bracht,1910.0,"tt0063374,tt0047673,tt0050419,tt0057163"
8699773,tt0050419,nm0215968,actor,204693.0,Jean Del Val,1891.0,"tt0050419,tt0060397,tt0041856,tt0010499"
9289512,tt0050419,nm0235579,actress,223117.0,Dovima,1927.0,"tt0050419,tt0057765,tt0056775,tt0056768"
9710803,tt0050419,nm0249136,producer,235929.0,Roger Edens,1905.0,"tt0041716,tt0033110,tt0050419,tt0045152"
10739702,tt0050419,nm0281866,actor,266899.0,Robert Flemyng,1912.0,"tt0050419,tt0102181,tt0064072,tt0053496"
11771380,tt0050419,nm0314826,writer,297964.0,Leonard Gershe,1922.0,"tt0050419,tt0068326,tt0070068,tt0050972"
11771866,tt0050419,nm0314857,composer,297995.0,Ira Gershwin,1896.0,"tt0043278,tt0071315,tt7097896,tt0050419"
11829754,tt0050419,nm0317208,actress,300205.0,Virginia Gibson,1925.0,"tt0050419,tt0047472,tt0045193,tt0051273"
13303531,tt0050419,nm0367168,actress,347113.0,Sunny Hartnett,1924.0,tt0050419
15132439,tt0050419,nm0432482,cinematographer,408601.0,Ray June,1895.0,"tt0050419,tt0026097,tt0021622,tt0026205"
21919739,tt0050419,nm0662646,actress,624500.0,Suzy Parker,1932.0,"tt0050419,tt0054750,tt0052619,tt0050599"
27340849,tt0050419,nm0860373,actress,809346.0,Kay Thompson,1909.0,"tt0050419,tt1598822,tt0066445,tt11487946"

In [10]:
principals_names = principals_names.drop(['nconst','Unnamed: 0'], axis = 1)

In [11]:
principals_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96920983 entries, 0 to 96920982
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   category        object
 2   primaryName     object
 3   birthYear       float64
 4   knownForTitles  object
dtypes: float64(1), object(4)
memory usage: 3.6+ GB

In [12]:
principals_names['category'].value_counts()

category
actor                  21392244
actress                16045051
self                   12846979
writer                 10757771
director                7715103
producer                6756707
editor                  4722123
cinematographer         3604125
composer                2917492
production_designer     1080401
casting_director        1051592
archive_footage          538522
archive_sound              8923
Name: count, dtype: int64

In [14]:
principals_names2 = principals_names[(principals_names['category'] == 'actor') | (principals_names['category'] == 'actress') | (principals_names['category'] == 'director')]
principals_names2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45152398 entries, 0 to 96920920
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   category        object
 2   primaryName     object
 3   birthYear       float64
 4   knownForTitles  object
dtypes: float64(1), object(4)
memory usage: 2.0+ GB

In [15]:
principals_names2['category'].value_counts()

category
actor       21392244
actress     16045051
director     7715103
Name: count, dtype: int64

In [ ]:
principals_names2.isna().sum()

tconst                   0
category                 0
primaryName            922
birthYear         22679746
knownForTitles       32060
dtype: int64

In [25]:
principals_names3 = principals_names2.loc[principals_names2['tconst'].isin(merge2['tconst'])]
principals_names3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3696608 entries, 0 to 96920774
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   category        object
 2   primaryName     object
 3   birthYear       float64
 4   knownForTitles  object
dtypes: float64(1), object(4)
memory usage: 169.2+ MB

In [26]:
merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466501 entries, 0 to 466500
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      466501 non-null  int64
 1   tconst          466501 non-null  object
 2   titleType       466501 non-null  object
 3   primaryTitle    466501 non-null  object
 4   originalTitle   466501 non-null  object
 5   isAdult         466501 non-null  bool
 6   startYear       466501 non-null  object
 7   runtimeMinutes  466501 non-null  float64
 8   genres          466501 non-null  object
 9   averageRating   466501 non-null  float64
 10  numVotes        466501 non-null  int64
 11  directors       466501 non-null  object
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 39.6+ MB

In [27]:
principals_names3['category'].value_counts()

category
actor       2079137
actress     1160164
director     457307
Name: count, dtype: int64

In [28]:
principals_names3['tconst'].nunique()

457327

In [29]:
merge2['tconst'].nunique()

466501